@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Travel Experts!</h1>
</div>

<div class="row text-center">
      <div class="col-sm-4">
        <div class="thumbnail">
          <img src="~/css/images/asia.jpg" alt="Paris" width="400" height="300">
          <p><strong>Asian Expedition</strong></p>
          <p>Airfare, Hotel and Eco. Tour</p>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="thumbnail">
          <img src="~/css/images/carribean.jpg" alt="New York" width="400" height="300">
          <p><strong>Carribean New Year</strong></p>
          <p>Cruise the Carribean and celebrate the New Year!</p>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="thumbnail">
          <img src="~/css/images/italy.jpg" alt="San Francisco" width="400" height="300">
          <p><strong>European Vacation</strong></p>
          <p>Euro tour with rail pass and travel insurance</p>
        </div>
      </div>
    </div>
