@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Travel Experts!</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div class="row text-center">
      <div class="col-sm-4">
        <div class="thumbnail">
          <img src="~/css/images/asia.jpg" alt="Paris" width="400" height="300">
          <p><strong>Paris</strong></p>
          <p>Fri. 27 November 2015</p>
          <button class="btn">Buy Tickets</button>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="thumbnail">
          <img src="~/css/images/carribean.jpg" alt="New York" width="400" height="300">
          <p><strong>New York</strong></p>
          <p>Sat. 28 November 2015</p>
          <button class="btn">Buy Tickets</button>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="thumbnail">
          <img src="~/css/images/italy.jpg" alt="San Francisco" width="400" height="300">
          <p><strong>San Francisco</strong></p>
          <p>Sun. 29 November 2015</p>
          <button class="btn">Buy Tickets</button>
        </div>
      </div>
    </div>
